<div class="container">
	<div class="row">
		<div class="channel-item col s4">
			<div class="col-content">1</div>
		</div>
		<div class="channel-item col s4">
			<div class="col-content">2</div>
		</div>
		<div class="channel-item col s4">
			<div class="col-content">3</div>
		</div>
		<div class="channel-item col s4">
			<div class="col-content">4</div>
		</div>
		<div class="channel-item col s4">
			<div class="col-content">5</div>
		</div>
		<div class="channel-item col s4">
			<div class="col-content" id="add-channel" (click) = "addChannel($event)">+</div>
		</div>
		
    </div>

	
</div>